<nav class="navbar navbar-expand-lg navbar-light m-4" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="#">Bus Reservation System</a>
        <button class="btn btn-outline-success" (click)="gotohome()">Logout</button>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light m-4"  style="background-color: #e3f2fd;">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page fw-bold m-2" href="#">Hello </a>
            </li> 
        </ul>
    </div>
</nav>
<h3><button class="btn  btn-outline-success fw-bold m-2">My DashBoard</button></h3>
<div class="actions">        
    <button type="submit" class="btn  btn-outline-success fw-bold m-2">Booking</button>
    <button type="submit" class="btn  btn-outline-success fw-bold m-2">Profile</button>
    <button type="submit" class="btn  btn-outline-success fw-bold m-2">Change password</button>
    <button type="submit" class="btn  btn-outline-success fw-bold m-2">Wallet</button>
</div>