<nav class="navbar navbar-expand-lg navbar-light m-4" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="#">Bus Reservation System</a>
        <button class="btn btn-outline-success" (click)="goToLogin()">Login-SignUp</button>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light m-4"  style="background-color: #e3f2fd;">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Terms Of Use </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>
<div class="mainContent">
    <h3>Online Booking</h3>
    <div class="details">
        <div class="row m-5">
            <div class="col-6">
                <label>From</label>
                <input class="form-control me-2 content">
            </div>
            <div class="col-6">
                <label>To</label>
                <input class="form-control me-2 content">
            </div>
        </div>
        <div class="row m-5">
            <div class="col-6">
                <label>Date of Journey</label>
                <input class="form-control me-2 content">
            </div>
            <div class="col-6">
                <label>Date of Return (optional)</label>
                <input class="form-control me-2 content">
            </div>
        </div>       

        <div id="searchBus">
            <button class="btn btn-outline-success" (click)="getBus()">Search Bus</button>
        </div>
    
    </div>
</div>